body {
  margin: 0;
}
.nav_top {
  position: sticky;
  width: 100%;
  padding: 1rem;
  background-color: rgb(40, 40, 40);
}
.nav_bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  background-color: rgb(40, 40, 40);
}
.link {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}
.link:hover {
  color: rgb(158, 1, 201);
  cursor: pointer;
  width: 100%;
}

.MuiBreadcrumbs-separator {
  color: white;
  font-size: 25px;
  position: relative;
  top: -2px;
}
.my_page {
  float: inline-end;
}
.cart {
  margin-top: 0.2rem;
  color: white;
}
.right {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}
.cart_icon {
  cursor: pointer;
}
